.godot/shader_cache
.godot/.gdignore
.godot/imported
.gotot/editor/script_editor_cache.cfg
.godot/editor/editor_layout.cfg
.godot/extension_list.cfg
.godot/global_script_class_cache.cfg
.godot/uid_cache.bin
.godot/editor/editor_layout.cfg
.godot/editor/game.tscn-editstate-d45e16ca8d170891778b9dcfa9c69e68.cfg
.godot/editor/player.tscn-editstate-1753c997600d68ab5d20ae99fddb15c6.cfg
*.blend1